body {
    background-color: rgb(206, 194, 170);
    padding-top: 60px;
}

nav {
    background-color: rgb(133, 118, 102);
    position: fixed;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  nav a.active {
    background-color: #4CAF50;
    color: white;
  }

form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(77, 67, 57)

}

.formbox {
    text-align: center;
}

table {
    margin: 0 auto;
    text-align: center;
    color:rgb(231, 217, 201);
    border: 1px solid #fff;
    background-color: rgb(105, 93, 80);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    
}

h2 {
    margin-top: 60px !important;
    text-align: center;
    color: rgb(255, 254, 254);
    font-size: 24px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px auto;
    color:rgb(77, 67, 57)
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px auto;
    color:rgb(77, 67, 57)
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(77, 67, 57)
}

