<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Bus Seat Reservations {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <style>

        </style>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('admin') }}">Admin</a>
            <a href="{{ url_for('reserve') }}">Reservations</a>
        </nav>
        <hr>
        {% for message in get_flashed_messages() %}
            <div>{{ message }}</div>
        {% endfor %}

        {% block content %} {% endblock %}
    </body>
</html>